services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: simob
      POSTGRES_USER: simob
      POSTGRES_PASSWORD: simob
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:

