{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
  {% if object %}Editar Tarefa{% else %}Nova Tarefa{% endif %}
{% endblock %}

{% block content %}
  {% with current_obra=current_obra current_categoria=current_categoria %}
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'obras:listar_obras' %}">Obras</a></li>
        <li class="breadcrumb-item">
          <a href="{% url 'obras:detalhe_obra' current_obra.id %}">{{ current_obra.nome }}</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          {% if object %}Editar Tarefa{% else %}Nova Tarefa em {{ current_categoria.nome }}{% endif %}
        </li>
      </ol>
    </nav>

    <h1 class="mb-4">
      {% if object %}Editar Tarefa{% else %}Adicionar Tarefa em "{{ current_categoria.nome }}"{% endif %}
    </h1>

    <form method="post">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary mt-3">Salvar Tarefa</button>
      <a class="btn btn-secondary mt-3" href="{% url 'obras:detalhe_obra' current_obra.id %}">Cancelar</a>
    </form>
  {% endwith %}
{% endblock %}
